{% extends 'base.html' %}
{% load static %}


{% block content %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container"><br>
        <h2>About Us</h2>
        <h5>Our aim - To bring flexible, affordable, job-relevant online learning to individuals   </h5>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Learning is the source of human progress.</h3>
            <br>
            <p class="fst-italic">
              We believe. Knowledge has the power to transform our world from illness to health, from poverty to prosperity,from conflict to peace.
              It has the power to transform our lives for ourselves,for our families, for our communities. No matter who we are or where we are,
              learning empowers us to change and grow and redefine what’s possible. That’s why access to the best learning is a right, not a privilege.
              And that’s why Howcodes is here. We partner with the best educators to bring the best learning to every corner of the world. So that anyone,
              anywhere has the power to transform their life through learning.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Affordable</li>
              <li><i class="bi bi-check-circle"></i> Reliable</li>
              <li><i class="bi bi-check-circle"></i> Upto date with industry standards</li>
            </ul>
            <p>Serving the world through learning since 2021 </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="2532" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="37" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="82" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="33" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Testimonials</h2>
            <p>What our students are saying</p>
          </div>

          <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Please make sure that you thank everyone at Howcodes for all of the work they have done, we are very happy with everything and will be recommending your courses to anyone that will listen. Pass it on please.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      We just completed our new website with the help of Howcodes and are so excited to have it live!! It is so professionally done and eye appealing, not to mention how great it looks and works with mobile devices. We tried it on an iPhone and a Droid and it was great on both! We love how easy it is to make changes ourselves, (after some training from Howcodes) yet know we have the support when/if we need it.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      I’ve been working with Howcodes for a few months and they have the best customer service hands down. Their entire team is incredibly responsive. If you need help with a website or just have questions give the team at Howcodes a call.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Taking online classes here at Howcodes has been a major benefit to me. As I work toward completing my degree, I have been able to take advantage of several online classes which has allowed me to be home for my family and work on my school work when I have time. The courses are well laid out and the instructors are supportive and responsible in returning emails. Thanks Howcodes for allowing me to have a flexible schedule while finishing my degree.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      A very interesting and valuable experience.  I learnt a lot and it gave me a good grounding in the basics. It really made me think, and I liked how it enabled me to interact wiht people through the practical work.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>
      </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  {% endblock %}


